Starting point: https://en.wikipedia.org/wiki/List_of_countries_by_the_number_of_billionaires

In [43]:
import pandas as pd
import requests

In [44]:
# Retrieve the tables on the page
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_the_number_of_billionaires'
content = requests.get(url).text
table = pd.read_html( content, header=0 )[3]

In [45]:
table

,Worldrank,Country or dependency,Number ofbillionaires,Population per one billionaire (thousands),Richest in the country or dependency,Richest in the country or dependency's net worth in billions USD (year)
0,1,United States,585,559,Jeff Bezos,132.8 (2018)
1,2,China,476,2912,Ma Huateng,38.8 (2019)
2,3,India[3],131,10221,Mukesh Ambani,50.0 (2019)
3,4,Germany,114,726,Beate Heister and Karl Albrecht Jr.,31.1 (2017)
4,5,Russia,96,1505,Leonid Mikhelson,18.4 (2017)
5,6,Hong Kong,67,110,Li Ka-shing,37.7 (2018)
6,7,United Kingdom,54,1223,Hinduja family,19.8 (2018)
7,8,Brazil,43,4867,Jorge Paulo Lemann,29.7 (2018)
8,9,Italy,42,1443,Maria Franca Fissolo,28 (2018)
9,10,Canada,39,950,David Thomson,27.2 (2017)
10,11,France,38,1763,Bernard Arnault,74.7 (2018)
11,11,South Korea,38,1354,Lee Kun-hee,20.6 (2018)
12,13,Switzerland,36,234,Ernesto Bertarelli,9 (2017)
13,14,Australia,33,745,Gina Rinehart,17.40 (2018)
14,14,Japan,33,3842,Masayoshi Son,23 (2018)
15,16,Sweden,31,322,Stefan Persson,18.9 (2017)
16,16,Taiwan,31,761,Terry Gou,10.6 (2017)
17,18,Turkey,29,2752,Murat Ülker,3.9 (2017)
18,19,Spain,25,1869,Amancio Ortega,68.4 (2018)
19,20,Singapore,21,267,Robert and Philip Ng,9.7 (2017)
20,21,Indonesia,20,13200,Robert Budi Hartono,12.6 (2018)
21,21,Thailand,20,3452,Charoen Sirivadhanabhakdi,19.9 (2018)
22,23,Israel,18,484,Eyal Ofer,9.7 (2018)
23,24,Mexico,15,8613,Carlos Slim Helú,70.5 (2018)
24,25,Philippines,14,7493,Henry Sy,19.8 (2018)
25,25,Norway,14,376,Odd Reitan,4.19 (2017)
26,27,Chile,12,1504,Iris Fontbona,16.3 (2018)
27,27,Malaysia,12,2635,Robert Kuok,15.4 (2018)
28,29,Netherlands,10,1708,Charlene de Carvalho-Heineken,16.1 (2018)
29,29,Saudi Arabia,10,3294,Prince Alwaleed Bin Talal Alsaud,18.7
...,...,...,...,...,...,...
45,43,Lebanon,4,1714,Najib and Taha Mikati,2.7 (2018)
46,43,Monaco,4,10,Tatiana Casiraghi,2.2 (2018)
47,43,Poland,4,9603,Dominika and Sebastian Kulczyk,3.8 (2018)
48,43,Portugal,4,2569,Américo Amorim,4.8 (2017)
49,43,Vietnam,4,23838,Pham Nhat Vuong,6.9 (2018)
50,49,Colombia,3,16356,Luis Carlos Sarmiento,11.3 (2017)
51,49,Morocco,3,11685,Othman Benjelloun,1.67 (2018)
52,49,Nigeria,3,66988,Aliko Dangote,14.1 (2018)
53,49,Oman,3,1544,Suhail Bahwan,3.4 (2018)
54,54,Belgium,2,5734,Albert Frère,5.2 (2017)
55,54,New Zealand,2,2485,Graeme Hart,10.3 (2018)
56,54,Pakistan,2,100000,Mian Muhammad Mansha,3.7 (2019)
57,54,St. Kitts & Nevis,2,26,Wu Xu,1.6 (2018)
58,54,Venezuela,2,16110,Juan Carlos Escotet,4.4 (2018)
59,59,Algeria,1,43378,Issad Rebrab,4.31 (2017)
60,59,Angola,1,30175,Isabel dos Santos,2.6 (2018)
61,59,Bangladesh,1[citation needed],166769[citation needed],Salman F Rahman[citation needed],??[citation needed]
62,59,Eswatini (Swaziland),1,1367,Nathan Kirsh,4.3 (2018)
63,59,Georgia,1,3724,Bidzina Ivanishvili,4.6 (2018)
64,59,Guernsey,1,62,Stephen Lansdown,2.4 (2018)
65,59,Hungary,1,9764,Sandor Csanyi,1.14 (2018)
66,59,Iceland,1,359,Thor Björgólfsson,1.99 (2018)
67,59,Jordan,1,10443,Ziyad Manasir,1.1 (2015)
68,59,Liechtenstein,1,38,Christoph Zeller,3.9 (2018)
69,59,Macau,1,623,Hoi Kin Hong,1.58 (2018)
70,59,Nepal,1,29610,Binod Chaudhary,1.5 (2018)
71,59,Romania,1,19524,Ion Țiriac,1.19 (2018)
72,59,Slovakia,1,5450,Ivan Chrenko,1.31 (2018)
73,59,Tanzania,1,55891,Mohammed Dewji,1.52 (2018)
74,59,Zimbabwe,1,15160,Strive Masiyiwa,1.65 (2018)